<h4>Edit Project</h4>

<label>New Project Title:</label>
<input [(ngModel)]="selectedProject.title">
<br>

<label>New Project Owner:</label>
<input [(ngModel)]="selectedProject.owner">
<br>

<label>New Project Description:</label>
<input [(ngModel)]="selectedProject.description">
<br>

<label>New Project Mission:</label>
<input [(ngModel)]="selectedProject.mission">
<br>

<label>New Project Goal:</label>
<input [(ngModel)]="selectedProject.goal">
<br>

<label>New Project Rewards:</label>
<input [(ngModel)]="selectedProject.rewards">
<br>

<button (click)="beginUpdatingProject(selectedProject)">Update</button>
<hr>
<button (click)="beginDeletingProject(selectedProject)">Delete</button>
