<div>
  <h3>Project Title: {{(projectToDisplay | async).title}}</h3>
  <h4>by {{(projectToDisplay | async).owner}}</h4>
  <p>Description: {{(projectToDisplay | async).description}}</p>
  <p>Mission: <em>{{(projectToDisplay | async).mission}}</em></p>
  <h4>Fundraising Goal: ${{(projectToDisplay | async).goal}}</h4>
  <h4>Amount Funded: ${{(projectToDisplay | async).funding}}</h4>
  <p>Rewards Offered:</p>
  <ul>
    <li *ngFor="let reward of (projectToDisplay | async).rewards">{{reward}}</li>
  </ul>
</div>

<div>
  <div>
    <label>Amount to Fund:</label>
    <input #newFunding>
    <input type="hidden" #currentFunding value="{{(projectToDisplay | async).funding}}">
  </div>
  <button (click)="submitFunding(newFunding.value, currentFunding.value); newFunding.value=''">Fund This Project!</button>
</div>
