<div>
  <h3>{{projectToDisplay.title}}</h3>
  <h4>{{projectToDisplay.owner}}</h4>
  <p>{{projectToDisplay.description}}</p>
  <p><em>{{projectToDisplay.mission}}</em></p>
  <h4>${{projectToDisplay.goal}}</h4>
  <ul>
    <li *ngFor="let reward of projectToDisplay.rewards">{{reward}}</li>
  </ul>
</div>

<!-- <div>
  <div>
    <label>Amount to Fund:</label>
    <input #newFunding>
  </div>
  <button (click)="submitFunding(newFunding.value); newFunding.value=''">Fund This Project!</button>
</div> -->
