<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new Project to our catalog!</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Project Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div>
      <label>Project Owner:</label>
      <br>
      <input #newOwner>
    </div>

    <div>
      <label>Project Description:</label>
      <br>
      <input #newDescription>
    </div>

    <div>
      <label>Project Mission:</label>
      <br>
      <input #newMission>
    </div>

    <div>
      <label>Project Goal:</label>
      <br>
      <input #newGoal>
    </div>

    <!-- <div>
      <label>Project Rewards:</label>
      <br>
      <input #newRewards>
    </div> -->

    <div>
      <label>Add A Reward:</label>
      <br>
      <input #newReward>
    </div>

    <button (click)="submitReward(newReward.value); newReward.value=''">Add Reward</button>
    <button (click)="isDone()">Done Adding</button>

    <button [class]="changeClass(doneAdding)" (click)="submitForm(newTitle.value, newOwner.value, newDescription.value, newMission.value, newGoal.value, newRewards.value); newTitle.value=''; newOwner.value=''; newDescription.value=''; newMission.value=''; newGoal.value=''; newRewards.value=''">Add</button>
  </div>
</div>

<div>
  <app-project></app-project>
